<a href="https://colab.research.google.com/github/subashhariharan/machine-learning/blob/main/Basics_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Hello World in Python!**

In [ ]:
print("Hello World how are you?")
# This a is a comment

Hello World how are you?

# **Datatype**

In [ ]:
a = 12
print(a)       
print(type(a))

12
<class 'int'>

In [ ]:
b = 1.7
print(b)       
print(type(b))

1.7
<class 'float'>

In [ ]:
c = "Python"
print(c)       
print(type(c))

Python
<class 'str'>

In [ ]:
d = True
print(d)
print(type(d))

True
<class 'bool'>

In [ ]:
a, b, c = 1, 2, 3
a, b, c = 1, 3.5, "hello"
print(type(a))
print(type(b)) 
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

# **Math Operation**

In [ ]:
a = 10
print(a + 1)  
print(a - 1)  
print(a * 2)  
print(a / 2)  
print(a ** 2)

11
9
20
5.0
100

In [ ]:
x = True
y = False
print(x and y)  
print(x or y)   
print(not x)    
print(x & y)

False
True
False
False

# **Conditions**

In [1]:
Ticket_to_Mars = 5

In [2]:
if (Ticket_to_Mars == 0):
	print("Sadly No can Go to Mars")
elif (Ticket_to_Mars <= 2):
  if (Ticket_to_Mars == 1):
    print("Only you can got to Mars")
  else:
    print ("You and Your Partnet can go to Mars!")
else:
    print(str(Ticket_to_Mars) + " Members can go to Mars")

5 Members can go to Mars

# **Loops**

In [6]:
c = 0
while (c < 10): 
    print(c,end='-')
    c += 1

0-1-2-3-4-5-6-7-8-9-

In [7]:
numbers = [1, 2, 4]
#for (i=0;i<len(numbers);i++)

for x in numbers:
    print(x)

1
2
4

In [8]:
x = 5
for c in range(x):  # for (i=0,i<5,i++)
    print(c)

0
1
2
3
4

In [9]:
for c in range (0,10,2):  #for (i=1,i<10,i+2)
	print (c)

0
2
4
6
8

In [10]:
for c in range (10,0,-2):
	print (c)

10
8
6
4
2

# **String**

In [16]:
a = "python"
b = " is python awesome!"

print(len(a))                        
print(len(b))

6
19

In [12]:
print(a + b)                         
print(a, b)

Python is python awesome!
Python  is python awesome!

In [ ]:
print("this is a {} this is b {}".format(a, b))          
print("%s%s" % (a, b))

In [ ]:
print(a.upper())                    
print(a.lower())

In [ ]:
print(b.strip())                     
print(b.replace("awesome", "great"))

In [17]:
if a in b:
	print ("True")
else:
	print ("false")

True

# **List**

In [18]:
l = [1,2,3,4,5]

print(len(l))

5

In [19]:
print(l[0])        
print(l[1])

1
2

In [20]:
print(l[len(l)-1]) 
print(l[-1])

5
5

In [ ]:
l.append(6)       
print(l)          
item = l.pop()    
print(item)       
l.append("string")
print(l)

In [ ]:
l = [10,20,30,40,50,60]

print(l[1:2])     
print(l[1:3])     
print(l[0:])      
print(l[0:-1])    
print(l[:])
print (l[3:5])

In [ ]:
b = [1,5,7,2,4,9,11,12]
b.sort()
print(b)

In [ ]:
b.sort(reverse=True)
print(b)

In [21]:
a = ["dhoni", "sachin", "warner", "abd"]
a.reverse()
print(a)

['abd', 'warner', 'sachin', 'dhoni']

In [ ]:
a = [66, 55, 44, 22, 11, 55, 22] 
print(a.count(0))

# **Tuple**

In [25]:
t = ("500", "200", "12")

print(type(t))

print(t[1])

<class 'tuple'>
200

In [26]:
print(len(t)) 
print(max(t))
print(min(t))

3
500
12

In [27]:
l = [400, 800, 1200]
print (type(l))
l_to_t = tuple(l)
print(type(l_to_t))

<class 'list'>
<class 'tuple'>

# **Dictionary**

In [28]:
d = { "1" : "Captain America", 
      "2" : "Ironman", 
      "3" : "Thor"
    }

In [29]:
print(type(d))    
print(d["1"])

<class 'dict'>
Captain America

In [ ]:
for key in d:
    print(key)  
    print(d[key])

In [ ]:
d["2"] = "Hulk"
for key, value in d.items():
    print(key + " - " + value)

In [ ]:
d["4"] = "Thanos"
d["2"] = "KIT"

print (d.items())
d.pop("4")

del d["2"]

# **Exception Handling**

In [ ]:
y =10
try:
    print (z)
    x = y/0
except NameError :
    print ("value error")
except Exception as e:
    print("Something is wrong!")
    print (e)

In [ ]:
try:
    print(s)
except: 
    print("Something is wrong!")
finally:
    print("Finally always execute after try-except.")

# **Function**

In [31]:
def squared(x):
    y = x*x
    print (y)
    return y

In [32]:
res = squared(4)
print ("result is", res )

16
result is 16